<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Registration page</title>
    <link rel="stylesheet" href="/style.css" type="text/css" />
</head>
<body>
<div id="container">
<h1>Registration page</h1>

<form th:action="@{/register}" method="post">
    <label for="username">Username</label>:
    <input type="text" id="username" name="username" pattern="[^ @]*@[^ @]*" placeholder="Enter your email"/> <br/><br>
    <label>Wybierz rolę:</label>:

    <select name="role">
        <option th:each="myRola : ${T(pl.iwona.securityweek3.model.Role).values()}"
                th:value="${myRola}" th:text="${myRola.name}">
        </option>
    </select>
    <br/>
    <p>password should has at least 8 chars: 1 special char, 1 lowercase, 1 uppercase and 1 number</p>
    <label for="password">Password</label>:
    <input type="password" id="password" name="password"
           pattern="^(?=.*\W)(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}$"
           title="Password has to contains at least 8 chars, 1 lowercase, 1 uppercase, 1 number and 1 special char"/>
    <br/> <br/>

    <input type="submit" value="Sign Up"/>
</form>
</body>
</html>

