<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration page</title>
</head>
<body>
<h1>Registration page</h1>
<form th:action="@{/register}" method="post">
    <label for="username">Username</label>:
    <input type="text" id="username" name="username" placeholder="Enter your email"
           pattern="[^ @]*@[^ @]*"
           title="Username cannot be different than email address"/> <br/>
    <label>Wybierz rolę:</label>:

    <select name="role">
        <option th:each="myRola : ${T(pl.iwona.securityweek3.model.Role).values()}"
                th:value="${myRola}" th:text="${myRola.name}">
        </option>
    </select>
    <br/>

    <p>password should has at least 10 characters 1 lowercase, 1 uppercase, and 1 number</p>
    <label for="password">Password</label>:
    <input type="password" id="password" name="password"
           pattern="^(?=.*\W+)(?=.*[A-Z])(?=.*[a-z](?=.*[0-9]).{10,}$"
           title="Password has to contains at least 10 characters, 1 lowercase,
            1 uppercase, and 1 number, and 1 special char"/> <br/>

    <input type="submit" value="Sign Up"/>
</form>
</body>
</html>

